/************************************************************-*-c-*-
 zwiki stylesheet                                            
 *******************************************************************/

/* colours and general styles */

/* default gray */
.shade1                  {color:gray;}
.shade1 a:link           {color:gray;}
.shade1 a:visited        {color:#aaaaaa;}
.dimtext                 {font-size: 80%; color: gray;}
.linkpanel td, .linkpanel_minimal td {color: gray;}
.navpanel                {color: gray;}
.searchbox a:link        {color: gray;}
.searchbox a:visited     {color: #aaaaaa;}
.lasteditor              {color:gray;}
/* can't get these to combine with dimtext for some reason */
.highrated               {font-size: 80%; color: green} 
.neutralrated            {font-size: 80%; color: gray}
.lowrated                {font-size: 80%; color: red}
.subtopicspanel          {color: gray; /*background: #dddddd;*/ }
.commentsheading         {color:gray; font-weight:bold;}
.commentform             {color:gray;}
.subscribed              {} /* for subscribeform */
.notsubscribed           {}
/* background shade of form fields 
 * input,textarea,select {} would be cleaner but changes buttons too
 * (except file upload buttons)
 * can select with input[type=submit] but not in IE 
 */
.formfield               {background: #f0f0f0;}

a { color: #ff8112; }
a:visited { color: #cc4400; }

body {
 margin:20px; 
 padding:0;
 font-family:sans, verdana, arial, helvetica, sans-serif; 
 color: black;
 background-color: white;
 width:800px;
 margin:0 auto; 
}
h2 {
  margin-top: 1.5em;
  font-size: 130%;
  border-bottom: 1px solid #99c;
}
pre, code {
  background-color: #FFF8ED;
  /*color: black;*/
}
.content {
  margin-left:8px; margin-right:8px;
  /* more whitespace.. adjust left margin to approx. logo width */
  /*margin-left:64px; margin-right:32px;*/
} 
td.content {
 border: 1px solid #EEEEEE;
}
.formcontent {
 margin:8px;
} 
input,select {
  font-size:inherit;
}
.error { 
 color:red; background-color:#ffdddd; border:thin solid red; 
}

/* top stuff */

.linkpanel td, .linkpanel_minimal td {
  font-size: 80%;
}
.wikilinks {
  font-weight: normal;
  vertical-align: middle;
}
.otherlinks {
  vertical-align: middle;
}
.navpanel {
  font-size: 80%;
}
.pageheading ul {
  margin-top:0px; margin-bottom:0px; margin-left:6px; padding-left:6px;
}
.pageheading li, .subtopicspanel li {
  list-style:none;
}
.logo_full { /*td*/
  padding-top: 0.5em;
  padding-right: 4px;
}
.logo_simple { /*td*/
  padding-top: 1em;
  padding-right: 4px;
}
.logo_minimal {
  padding-top: 1em;
  padding-right: 4px;
}
.pagenameand { /*td*/
 padding: 0;
 vertical-align: middle;
}
.pagenameonly { /*td*/
  font-size: xx-large;
  font-weight: bold;
  vertical-align: middle;
}
.searchbox {
  vertical-align: top;
  font-size: 80%;
}
#searchinput { /* generated tag with id=searchinput already has a class (multiple classes bad for IE<5.5 ?) */
 width:95%; 
 margin-top: 0px;
}
.lasteditor {
  font-style: italic;
}

/* middle stuff */

.subtopicspanel ul {
  margin-top:0px; margin-bottom:0px; margin-left:12px; padding-left:12px;
}
.subtopicspanel td ul {
  font-weight:bold;
}
.subtopicspanel td ul ul {
  font-weight:normal; font-size:0.9em;
}

/*
.preview {
  border:4px; width:100%; padding:10px; background-color:#ffffaa;
}
*/

/* bottom stuff */

.commentform {
}

/* misc stuff */

/* handy for displaying completion status */
.incomplete {color: red;}
.zeropercent {color: red;}
.tenpercent {color: red;}
.twentypercent {color: red;}
.thirtypercent {color: red;}
.fortypercent {color: red;}
.fiftypercent {color: red;}
.sixtypercent {color: green;}
.seventypercent {color: green;}
.eightypercent {color: green;}
.ninetypercent {color: green;}
.onehundredpercent {color: green;}
.complete {color: green;}

/*
.link-external {
  background: transparent url(http://plone.zwiki.org/link_icon.gif) 0px 1px no-repeat;
  padding: 1px 0px 1px 16px;
}
*/

/*******************************************************************
 add customizations below
 *******************************************************************/

.field-name             {text-align:left;}
.pageheader .expandable {list-style:none;}
.pageheader .outline    {list-style:none;}
.docinfo-name           {text-align:left}

div.admonition, div.attention, div.caution, div.danger, div.error,
div.hint, div.important, div.note, div.tip, div.warning {
  margin: 2em;
  border: medium outset;
  padding: 1em }

div.admonition p.admonition-title, div.hint p.admonition-title,
div.important p.admonition-title, div.note p.admonition-title,
div.tip p.admonition-title {
  font-weight: bold;
  font-family: sans-serif }

div.attention p.admonition-title, div.caution p.admonition-title,
div.danger p.admonition-title, div.error p.admonition-title,
div.warning p.admonition-title {
  color: red;
  font-weight: bold;
  font-family: sans-serif }

div.dedication {
  margin: 2em 5em;
  text-align: center;
  font-style: italic }

div.dedication p.topic-title {
  font-weight: bold;
  font-style: normal }

div.sidebar {
  margin-left: 1em;
  border: medium outset;
  padding: 1em;
  padding-top: 0px;
#  width:30%;
  background-color: #ffffee;
  float: right;
  clear: right }

div.sidebar p.rubric {
  font-family: sans-serif;
  font-size: medium }

p.sidebar-title {
  font-family: sans-serif;
  font-weight: bold;
  font-size: larger }

p.sidebar-subtitle {
  font-family: sans-serif;
  font-weight: bold }

p.topic-title {
  font-weight: bold }

div.abstract p.topic-title {
  font-weight: bold;
  text-align: center }

p.rubric {
  font-weight: bold;
  font-size: larger;
  color: maroon;
  text-align: center }

div.hint      {background-color:#FFB012}
div.danger    {background-color:#FFC8BF}
div.attention {background-color:#FF9180}
div.caution   {background-color:#FF9889}
div.important {background-color:#12B8FF}
div.note      {background-color:#C4EDFF}
div.tip       {background-color:#89DBFF}
div.warning   {background-color:#FFCCC4}
div.admonition-and-by-the-way {background-color:#3094BF}

div.admonition-python{
    background-color:#ffe8c4;
    margin: 0;
    text-align:center;
    padding: 0;
    width:80px;
    float: right;
    clear: right;
}

.py25 {
    background-image: url("py25.png");
    background-position: right top;
    background-repeat: no-repeat;}

.py26 {
    background-image: url("py26.png");
    background-position: right top;
    background-repeat: no-repeat;}

.py30 {
    background-image: url("py30.png");
    background-position: right top;
    background-repeat: no-repeat;}
